.header{
    width:100%;
    height: 70px;
    position:fixed;
}
.navbar-collapse{
    flex-grow: unset;
    margin-left: 5%;
}

.me-auto.navbar-nav{
    margin-left: 85%;
}

a.nav-link{
    margin-left:10px;
}

.title{
    font-size: 1.5em;  
}